{% extends "base.html" %}
{% block content%}
<div id="main">
    <a href="#content" class="skip_link">Skip to main content</a>
        <div id="banner">
            <div class="bannerIEPadder">


    Modern Musician
            </div>
        </div>

<div id="middle">
    <div id="sidebar">
        <div class="sidebarIEPadder">
[search box here]
<br />

        </div>
    </div>
 </div>
    
<div id="content">
    <a name=”content”></a>
     <div class="contentIEPadder">

     </div>
</div>

<div id="footer">
    <div class="footerIEPadder">
[footer here]
    </div>
</div>
</div>
{% endblock %}

