body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image:url("/static/images/background.jpg");
}

h1,h2,h3,h4,h5{
font-family:'Alef';
}
.hero-unit{
padding:40px 50px;
}
.hero-unit h1{
font-size:48px;
}
/* Company list */
.cmpli{
background:#FFF;
border-radius:6px;
cursor:pointer;
}
.cmpli h3{
margin:0;
padding:0;
line-height:2;
background:#EFEFEF;
color:#00B454;
border-radius:6px 6px 0 0;
padding:0 12px;
}
.cmpli h3 a{
display:block;
color:#00B454;
}
.cmpli h3 a:hover{
text-decoration:none;
}
.cmpli p.body{
padding:6px 12px;
color:#666;
}
.cmpli p.foot{
padding:6px 12px;
border-top:1px solid #EFEFEF;
color:#666;
font-size:9pt;
}
.cmpli p.foot .opt{
display:none;
float:right;
}
.cmpli:hover p.foot .opt{
display:inline-block;
}
/* Company full profile */
.cmpfp{
background:#FFF;
border-radius:6px;
}
.cmpfp h1{
line-height:1.8;
padding:0 24px 0 24px;
border-bottom:1px solid #DFDFDF;
color:#00B454;
}
.cmpfp .body{
padding:10px 24px 24px 24px;
}
/* Company info boxes */
.cmpib{
background:#FFF;
}
.cmpib h3{
line-height:1.6;
padding:0 16px;
border-bottom:1px solid #EFEFEF;
}
/* Member list */
.memli{
text-align:center;
}
.memli .links a{
color:#999;
}

/* Company forms container */
.cmpfr{
background:#FFF;
}
.cmpfr h3{
line-height:1.6;
padding:0 16px;
border-bottom:1px solid #EFEFEF;
}
.cmpfr form .control-group{
margin:0 0 0 24px;
}
.cmpfr form .control-group .help-block{
color:#999;
}
.cmpfr form .control-group label{
font-weight:bold;
color:teal;
}
.cmpfr .nav{
border-bottom:1px solid #EFEFEF;
padding:0 0 0 16px;
}
.cmpfr .nav a{
line-height:3.6;
font-family:'Alef';
border-radius:0;
padding:2px 2px 0 0;
margin:0 28px 0;
}
.cmpfr .nav a:hover{
background:none;
border-bottom:2px solid #0088cc;
}
.cmpfr .nav .active a{
font-weight:bold;
color:#333;
background:none;
font-size:18pt;
line-height:1.8;
margin:8px 0 0;
padding:0;
}
.cmpfr .nav .active a:hover{
border-bottom:none;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 400px;
  margin: 100px auto;
  color: #bbb;
}
nav
    {
        position: relative;
        top: 0;
        text-align: right;
    
        background-webkit-transition: all 1s ease;
        background-moz-transition: all 1s ease;
        background-o-transition: all 1s ease;
        background-ms-transition: all 1s ease;
    }
nav ul {
        background: transparent;
        background: linear-gradient(top, transparent 0%, transparent 100%);  
        background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
        background: -webkit-linear-gradient(top, transparent 0%,transparent 100%);
        box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
        padding: 0 20px;
        border-radius: 10px;  
        list-style: none;
        position: relative;
        display: inline-table;
        width:100%;
        height:5px;
        }
nav ul:after {
            content: ""; clear: both; display: block;
        }

    nav ul li {
            float: right;
        }
    nav ul li:hover {
            background: #600000 ;
        }
    nav ul li:hover a {
                color: #fff;
            }
    
    nav ul li a {
            display: block; padding: 25px 40px;
            color: #757575; text-decoration: none;
        }   


h6{
      text-align: center;
      color: white;
      font-size:30px;
      text-transform: uppercase;
      padding: 1px;
      font-family: 'Raleway', cursive;
      font-weight: 100;
      position: relative;
      background: linear-gradient(left, black, #eee, black);
    }
    h6:before {
      content: "";
      position: absolute;
      left: 50%;
      top: -50px;
      width: 600px;
      margin-left: -300px;
      margin-top: -220px;
      height: 600px;
      background: radial-gradient(50% 50%, ellipse closest-side, #444, black);
      z-index: -1;
    }
    h6 a {
      background: black;
      display: block;
      padding: 20px;
      text-decoration: none;
      letter-spacing: 30px;
      color: white;
      animation: comein 1.5s 1 ease-in-out forwards;
    }
    @keyframes comein {
       0% { letter-spacing: 100px; color: rgba(255,255,255,0); }
       70% { letter-spacing: 20px; }
       100% { letter-spacing: 30px; color: rgba(255,255,255,1) }
    }
